In [1]:
import requests
from bs4 import BeautifulSoup
import openpyxl
import pandas as pd
import html5lib
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = 'Top 250 Movies'
sheet.append(['title','rating'])

In [3]:
response = requests.get('https://www.imdb.com/chart/top/?ref_=ats_top250badge_intop100_to_top250chart')
soup = BeautifulSoup(response.text,'html.parser')
names = soup.find('tbody',class_="lister-list").find_all('tr')

In [4]:
for name in names:
    title = name.find('td',class_='titleColumn').a.text
    rating = name.find('td',class_='ratingColumn imdbRating').strong.text
    sheet.append([title,rating])

In [5]:
excel.save('movie.xlsx')

In [7]:
file = pd.read_excel("movie.xlsx",)
file

                        title  rating
0    The Shawshank Redemption     9.2
1               The Godfather     9.2
2             The Dark Knight     9.0
3       The Godfather Part II     9.0
4                12 Angry Men     8.9
..                        ...     ...
245                    Gandhi     8.0
246                   Aladdin     8.0
247                  The Help     8.0
248                  Jai Bhim     8.0
249      Beauty and the Beast     8.0

[250 rows x 2 columns]